VITE_API_KEY=MY_API_KEY # This is your API key for your app that you get from POST to .../api-keys with body as {name: "whatever"}
VITE_FRONTEND_URL=http://localhost:5173
VITE_BACKEND_URL=http://localhost:3000