FRONTEND_URL=http://localhost:5173
BACKEND_PORT=3000
SESSION_SECRET=your-secret-key-here
ROBLOX_CLIENT_ID=your-client-id # From Roblox OAuth2 API
ROBLOX_CLIENT_SECRET=your-client-secret # From Roblox OAuth2 API
ROBLOX_REDIRECT_URI=http://localhost:3000/auth/roblox/return
NODE_ENV=development

POSTGRES_USER=postgres
POSTGRES_PASSWORD=IHateKittens2000
DATABASE_URL=postgresql://postgres:IHateKittens2000@localhost:5432/roblox_trust_platform
